body {
 background: #272822;
 color: #a6e22e;
}

table, th, td {
   border: 1px solid black;
}

#display-area {
	overflow: auto;
 	overflow: hide;
}

.target {
	background-color: red;
}

#radials {
	margin: 3px;
	display: inline-flex;
}

.rad {
	margin: 3px;
}



@media only screen and (min-width: 1097px) {
	.break {
		display: inline-flex;
		margin: 5px;
	}
	body {
		display: flex;
  		max-width: 1400px;
 		margin: 0 auto;
	}
}

@media only screen and (min-width: 747px) {
	.flex {
		display: inline-flex;
		margin: 5px;
	}
}

@media only screen and (min-width: 400px) {
	.flex2 {
		display: inline-flex;
		margin: 5px;
	}
	.stat-fields {
		padding: 2px;
	}
}